*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
body {
    background: #FEFEFE;
}
header {
    width: 100%;
}
header nav {
    background: rgb(194, 155, 155);
    width: 100%;
    margin-bottom: 30px;

}
nav ul {
    list-style: none;
    text-align: right;
}
nav ul li {
    display: inline-block;
    position: relative;
    border-right: 2px outset rosybrown;
    border-bottom: 2px outset rosybrown;
    
}
nav ul li:hover {
    background: rgb(187, 135, 135);
}
nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
    font-family: 'Oswald';
    font-size: 1em;
}
.contenedor {
    padding-top: 10px;
    margin-bottom: 1px;
    margin-right:400px;
    margin-left:400px;
    border: 4px outset rosybrown;
    background-color: rgb(247, 239, 239);
    text-align: center;
    font-family: 'oswald';
    font-size: 1.2em;
}
.control{
    margin-bottom: 1.3em;
    color: whitesmoke;
    height: 40px;
    width: 80px;
    border: none;
    background-color:rgb(247, 239, 239);
    border: 2.5px solid rosybrown;
    font-size:.5em;
    color: black;
    text-align: center;
}
.controls-button {


    background-color: rosybrown;
    width: 60%;
    padding: 0.4em;
    color: black;
    font-size: .5em;
    border-radius: 5px ;
    cursor: pointer;
    text-align: center;
}
.resultado {
    margin-left:50px ;
    margin-right:50px ;
    width: 100px;
    display: inline-block;
    font-size:.6em;
    text-align: justify;
    color: grey;
}

